1. Write an HTML script that shows a list of items items with:
            a) numbers
						<!DOCTYPE html>
						<html>
						<head>
							<title>Test</title>
						</head>
						<body>
							<p>Numbered List</p>
							<ol>
								<li>Item</li>
								<li>Item</li>
								<li>Item</li>
							</ol>
						</body>
						</html>

            b) bullets?

						<!DOCTYPE html>
						<html>
						<head>
							<title>Test</title>
						</head>
						<body>
							<p>Numbered List</p>
							<li>
								<li>Item</li>
								<li>Item</li>
								<li>Item</li>
							</li>
						</body>
						</html>

2. write the correct HTML code for inserting an image to a  web page?


3.  Use an example to illustrate the following approaches to including CSS on a web page
        a) Inline Style

       <!DOCTYPE html>
		<html>
		<body>
			<p>Inline Style </p>	
			<p style="color:red;">This is inline stylisng.</p>
		</body>
		</html>


        b) External  Style

			//ext.css
			<style >

			b {
			  color: blue;
			  margin-left: 20px;
			}

			</style>

			<html>
			<head>
			<link rel="stylesheet" type="text/css" href="ext.css">
			</head>
			<body>

			<p>External Style</p>	
			<b>This is inline stylisng.</b>

			</body>
			</html>



       c) Internal style

       <style type="text/css">
	p  {
		color: red;
	   }
	
		</style>

		<!DOCTYPE html>
		<html>
		<body>
		<p>Internal Style</p>	
		<p>This is inline stylisng.</p>

		</body>
		</html>